In [179]:
test_list = [
    ['10.0.0.1', 'Prod'], 
    ['10.0.0.2', 'Dev'],
    ['10.0.0.3', 'Server'],
    ['10.0.0.4', 'Dev'],
    ['10.0.0.5', 'Dev'],
    ['10.0.0.6', 'Prod'],
    ['10.0.0.7', 'Server'],
    ['10.0.0.8', 'Server'],
    ['10.0.0.9', 'Prod'],
    ['10.0.0.10', 'Dev']
]
# print(test_list)

In [180]:
import pandas as pd
import numpy as np
from ipaddress import ip_address

df = pd.DataFrame(test_list, columns=['ip','label'])
split_ips = df['ip'].str.split('.', expand=True)

final_df = pd.concat([split_ips, df], axis=1).drop(columns=['ip'])
final_df.head()

    0  1  2  3   label
0  10  0  0  1    Prod
1  10  0  0  2     Dev
2  10  0  0  3  Server
3  10  0  0  4     Dev
4  10  0  0  5     Dev

In [181]:
final_df = pd.DataFrame()

In [182]:
# Get ips with specific label
def get_ips(label):
    ips = final_df[final_df['label']==label]
    return list(ips.iloc[:, :4].agg('.'.join, axis=1).values)

# get_ips('Prod')

In [183]:
# Check ips
def check_ip(ips):
    for i in ips:
        try:
            ip_address(i)
        except:
            print('Not a valid ip')
            return False

In [184]:
# Add ips to database
def add_ips(ip_label_list):
    # Convert new list to df format
    ip_array = np.array(ip_label_list)
    new_df = pd.DataFrame(ip_array, columns=['ip','label'])
    if check_ip(new_df['ip']):
        return

    split_ips = new_df['ip'].str.split('.', expand=True)
    final_new_df = pd.concat([split_ips, new_df], axis=1).drop(columns=['ip'])

    return pd.concat([final_df, final_new_df], axis=0, ignore_index=True)

In [185]:
final_df = add_ips([['10.0.0.11','Prod'], ['190.0.4.5', 'Dev'], ['10.0.0.12', 'Server']])
final_df

     0  1  2   3   label
0   10  0  0  11    Prod
1  190  0  4   5     Dev
2   10  0  0  12  Server